@using Alertify.Application.UseCases.Districts
@using Alertify.Application.UseCases.OrganizationClassifications
@using Alertify.Application.UseCases.Organizations.Commands.CreateOrganization
@using Alertify.Application.UseCases.Regions
@using Alertify.Domain.Entities

@{
    ViewData["Title"] = "Create Organization";
    Layout = "_Layout";
    RegionResponse[] Regions = ViewData["Regions"] as RegionResponse[];
    DistrictResponse[] Districts = ViewData["Districts"] as DistrictResponse[];
    OrganizationClassificationResponse[] OrganizationClassifications = ViewData["OrganizationClassifications"] as OrganizationClassificationResponse[];
}

@model CreateOrganizationCommand

<h3 class="header-text">Create New Organization</h3>
<hr />
<form asp-controller="Organization" asp-action="CreateOrganization" enctype="multipart/form-data" method="post">
    <div class="create-form mt-4">
        <div class="row">
            <div class="col-lg-6 offset-lg-3" style="overflow-y:scroll; height:70vh">

                <div class="form-group mt-3">
                    <label asp-for="ShortName" class="form-label">Қисқа Номи:</label>
                    <input asp-for="ShortName" type="text" class="form-control" placeholder="Қисқа номини киритиш">
                    <span asp-validation-for="ShortName" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="FullName" class="form-label">Тўлиқ Номи:</label>
                    <input asp-for="FullName" type="text" class="form-control" placeholder="Тўлиқ номини киритиш">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Inn" class="form-label">ИНН:</label>
                    <input asp-for="Inn" type="text" class="form-control" placeholder="ИНН киритиш">
                    <span asp-validation-for="Inn" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="PhoneNumber" class="form-label">Телефон рақами:</label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Телефон рақамини киритиш">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Address" class="form-label">Манзил:</label>
                    <input asp-for="Address" type="text" class="form-control" placeholder="Манзил киритиш">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="RegionId">Вилоят:</label>
                    <select class="form-control" id="RegionId" name="RegionId" required>
                        <option value="">Вилоят танланг</option>
                        @foreach (var region in Regions)
                        {
                            <option value="@region.Id">@region.FullName</option>
                        }
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="DistrictId">Туман:</label>
                    <select class="form-control" id="DistrictId" name="DistrictId" required>
                        <option value="">Туман танланг</option>
                        @foreach (var district in Districts)
                        {
                            <option value="@district.Id">@district.FullName</option>
                        }
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="OrganizationClassificationId">Соҳа:</label>
                    <select class="form-control" id="OrganizationClassificationId" name="OrganizationClassificationId" required>
                        <option value="">Соҳани танланг</option>
                        @foreach (var OrganizationClassification in OrganizationClassifications)
                        {
                            <option value="@OrganizationClassification.Id">@OrganizationClassification.FullName</option>
                        }
                    </select>
                </div>

                <div class="form-group button-group mt-3">
                    <button type="submit" class="btn btn-success">Сақлаш</button>
                </div>

            </div>
        </div>
    </div>
</form>

<!-- Include Select2 CSS and JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        function initializeSelect2(selector, placeholder) {
            $(selector).select2({
                placeholder: placeholder,
                allowClear: true,
                matcher: function (params, data) {
                    if ($.trim(params.term) === '') {
                        return data;
                    }
                    var term = $.trim(params.term).toLowerCase();
                    var text = data.text.toLowerCase();
                    return text.indexOf(term) > -1 ? data : null;
                }
            });
        }

        initializeSelect2('#RegionId', "Вилоят танланг");
        initializeSelect2('#DistrictId', "Туман танланг");
        initializeSelect2('#OrganizationClassificationId', "Соҳани танланг");
    });
</script>
